# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=OHE7LwWqQ4fWzp4+QwypxA==,cKrAHzyjV0NjGR5L93Dn9Q==,u3o+eT6j5JdGJUQkUK+BEQ==,VoNF8BBCtpSamWM27R/pxA==
API_TOKEN_SALT=uzpigPjj2fUyHV+dsIDGMA==
ADMIN_JWT_SECRET=aMJBYgNTAPnRm8Y1sXEbJA==
JWT_SECRET=YnEkQZAKVlJzErKnt+rABg==
TRANSFER_TOKEN_SALT=KTHAPMdWswm4NYlU4z+F9Q==
ENCRYPTION_KEY=QzfOeii4qr222B+ptPxijw==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db

STRAPI_DISABLE_UPDATE_NOTIFICATION=true
STRAPI_TELEMETRY_DISABLED=true
STRAPI_HIDE_STARTUP_MESSAGE=false