# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=toBeModified,toBeModified,toBeModified,toBeModified
API_TOKEN_SALT=toBeModified
ADMIN_JWT_SECRET=toBeModified
JWT_SECRET=toBeModified
TRANSFER_TOKEN_SALT=toBeModified
ENCRYPTION_KEY=toBeModified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=toBeModified
DATABASE_PORT=toBeModified
DATABASE_NAME=toBeModified
DATABASE_USERNAME=toBeModified
DATABASE_PASSWORD=toBeModified
DATABASE_SSL=false

STRAPI_LOGGER_UPDATES_ENABLED=false
STRAPI_TELEMETRY_DISABLED=true
STRAPI_HIDE_STARTUP_MESSAGE=false